{% extends "coursePortal/courseHome/common/baseTaskTemp.html" %}
{% block title %} the_title {% endblock %}


 
        {% block body %}
     <link rel="stylesheet" href="/static/common/css/w3cstyle.css">


 <div id="#"class="w3-main w3-light-grey" id="belowtopnav" style="margin-left: 60px;padding-top: 44px;width:100%">
  <div class="w3-row w3-white">
    <div id="leftmenuinnerinner" style="background-color:#E7E9EB;">   
        <embed src="/static/pdf/assgn.pdf" width="100%" height="875">
       </div>
 </div>
</div> 
         {% endblock %}  
      
   

