<html>

<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <link rel="icon" href="/static/images/sw.ico" />
    <script src="/static/js/custom.js"></script>
    <script src = "/static/js/1.12.4/jquery-ui.js" ></script>
    <script src = "/static/js/gd.js" ></script>
    <script src = "/static/js/resultFormatting.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/course/oneweb.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/course/Exercise.css" />
    <style type="text/css">
    @import url(//fonts.googleapis.com/css?family=Open + Sans:200italic, 300italic, 400italic, 500italic, 600italic, 700italic, 800italic, 900italic, 200, 300, 400, 500, 600, 700, 800);
    </style>
    <title>SocialWings</title>
</head>

<body class="light wide python exercise-screen ScrollAreaConfig--19 ScrollAreaConfig--active" data-new-gr-c-s-check-loaded="14.996.0" data-gr-ext-installed="" data-new-gr-c-s-loaded="14.996.0">
<script>
var myObj = {{json | safe}}
var checkflag = false;
var checkCount = 0;

function run(action) {
    clearAll()
    if (action == "Submit") {
        //forward to main page testid
        submitJob("{{taskId}}")
        return
    }
    code = editor.getValue('\n');
    console.log("code -" + code);
    checkflag = false
    submissionTask(action, myObj.TaskId, code)
//    submissionTask(action,cid,mid,myObj.TaskId, code, userId)
    fileName = "app.js"
}



function backToDash() {
    window.location.href = "/course/home";
}
$(document).ready(function() {


    document.addEventListener("DOMContentLoaded", function() {
        // Query the element
        const resizer = document.getElementById("hdivider2");
        const leftSide = resizer.previousElementSibling;
        const rightSide = resizer.nextElementSibling;
        console.log(typeof rightSide);
        console.log(rightSide);
        console.log(leftSide);
        // The current position of mouse
        let x = 0;
        let y = 0;
        let leftWidth = 0;
        // Handle the mousedown event
        // that's triggered when user drags the resizer
        const mouseDownHandler = function(e) {
            console.log("down");
            // Get the current mouse position
            x = e.clientX;
            y = e.clientY;
            leftWidth = leftSide.getBoundingClientRect().width;
            // Attach the listeners to `document`
            document.addEventListener("mousemove", mouseMoveHandler);
            document.addEventListener("mouseup", mouseUpHandler);
        };
        const mouseMoveHandler = function(e) {
            console.log("move" + e.clientX);
            console.log("move" + e.clientY);
            console.log("diffmove" + x);
            console.log("diffmove" + y);
            // How far the mouse has been moved
            const dx = e.clientX - x;
            const dy = e.clientY - y;
            const newLeftWidth = ((leftWidth + dx) * 100) / resizer.parentNode.getBoundingClientRect().width;
            leftSide.style.width = `${newLeftWidth}%`;
            resizer.style.cursor = "col-resize";
            document.body.style.cursor = "col-resize";
            leftSide.style.userSelect = "none";
            leftSide.style.pointerEvents = "none";
            rightSide.style.userSelect = "none";
            rightSide.style.pointerEvents = "none";
        };
        const mouseUpHandler = function() {
            console.log("up");
            resizer.style.removeProperty("cursor");
            document.body.style.removeProperty("cursor");
            leftSide.style.removeProperty("user-select");
            leftSide.style.removeProperty("pointer-events");
            rightSide.style.removeProperty("user-select");
            rightSide.style.removeProperty("pointer-events");
            // Remove the handlers of `mousemove` and `mouseup`
            document.removeEventListener("mousemove", mouseMoveHandler);
            document.removeEventListener("mouseup", mouseUpHandler);
        };
        // Attach the handler
        resizer.addEventListener("mousedown", mouseDownHandler);
    });



    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        // mobile device detected
        alert("Mobile detected Assessment cannot be taken from mobile device")
        backToDash()
    }
    /* status = checkServices("grading")
     if (status == "fail") {
           alert("gradingengine disconnected")
       }
       status = checkServices("jobservice")
       if (status == "fail") {
           alert("jobservice disconnected")
       }
       status = checkServices("ps")
       if (status == "fail") {
           alert("ps disconnected")
       }*/
    $("section-1").addClass('done')
    loadFlag = false;
    console.log("add to console " + '{{ fileTreeNavigation }}');
    console.log("Task page" + '{{ courseId }}' + "//" + '{{ taskId }}' + "//" + myObj.ModuleId + "//" + myObj.gradeType + "//" + '{{ userId }}')
    discussState = true;
    articlesState = true;
    //var myObj = {"status": "OK", "TaskId": "A11_2", "NxtQn": "not linked", "topicDesc": "We need to select studentId from students table", "instruction": "
    // < p > Good!Let 's move on to selection of specific data from a table.  < b > Students < /b> < /p> \n < p > Students table sample data as belwo. < /p> \n < pre > Students Id, Students Name, Students marks < br /> A12 Jacob Geroge 450 < br /> A13 Paula Geroge 150 < br /> A14 Guru murthy 530 < /pre> \n < p > This line of code: < /p> \n \n < p > The below statement select the students name from the students table < code > select students name from students < /code> : < /p> \n< ", "exercise": "\n < p > Modify the query to select students Id from students table: < /p>\n < pre > A12 < br /> A13 < br /> A14 < br /> < /pre>", "section": "Python Basics" };
    $("#currentQn").html(myObj.TaskId)
    NxtQn = myObj.NxtQn
    NxtQnURL = "/course/A01/module/M001/" + NxtQn
    $("#nextEx").attr("href", NxtQnURL)
    $("#courseSummmary").html(myObj.topicDesc)
    $("#instruction_container").html(myObj.instruction);
    $("#content_container").html(myObj.exercise);
    $('.west').show();
    $(".main-part").toggleClass("opened")
    $('.discuss').click(function() {
        if (discussState == true) {
            $('.west').show();
            discussState = !discussState
        } else {
            discussState = !discussState
            $('.west').hide();
        }
        $('.west').css({
            width: "496px"
        });
        // $('.west').toggleClass("slideClose");
    })
    console.log("add to console " + myObj.topicDesc);
    // reading from learning history below details
    // score, section, exercise
    //1. complete all the section which are done by changing class .done
    // making the tick mark
    $(".main-part").toggleClass("opened");
    $('#courseSummmary').click(function() {
        $(".main-part").toggleClass("opened");
    })
    $('#section-1-header').click(function() {
        let item = $(this).siblings('#section-1-list').first();
        item.slideToggle();
    })
    $('#section-2-header').click(function() {
        let item = $(this).siblings('#section-2-list').first();
        item.slideToggle();
    })
    $('#section-3-header').click(function() {
        let item = $(this).siblings('#section-3-list').first();
        item.slideToggle();
    })
    $('#section-4-header').click(function() {
        let item = $(this).siblings('#section-4-list').first();
        item.slideToggle();
    })
    $('#section-5-header').click(function() {
        let item = $(this).siblings('#section-5-list').first();
        item.slideToggle();
    })
    $('#TestResultOutput').hide();
    $('#ConsoleOutput').show();
    $(".tab").toggleClass("selected");
    $('#console').click(function() {
        $(".tab").toggleClass("selected");
        $('#TestResultOutput').hide();
        $('#ConsoleOutput').show();
    })
    $('#testResult').click(function() {
        $(".tab").toggleClass("selected");
        $('#TestResultOutput').show();
        $('#ConsoleOutput').hide();
    })
});
</script>
{% include 'coursePortal/courseHome/common/headerTest.html' %}
<div id="content_wrapper" style="padding-top: 81px;">
    <div id="content">
        <link href="/static/css/recurly.css" rel="stylesheet" type="text/css" />
        <div class="main-divs">
            <div class="west slideClose" style="width: 631px; display: none;">
                <div class="main-part">
                    <div class="content">
                        <div id="left-div" class="ScrollArea">
                            <div class="ScrollArea__wrapper">
                                <div class="ScrollArea__content">
                                    <div class="instruction-div">
                                        <div class="header">
                                            <h2>Instruction</h2>
                                        </div>
                                        <div class="content formatted" id="instruction_container"></div>
                                    </div>
                                    <div class="content-hints-div">
                                        <div class="header">
                                            <h2>Exercise</h2>
                                        </div>
                                        <div class="content formatted">
                                            <div id="content_container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll hscroll"><span class="scroll__thumb"
                                        style="left: 0%; width: 100%;"></span></div>
                                <div class="scroll vscroll"><span class="scroll__thumb"
                                        style="top: 0%; height: 100.106%;"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-part"></div>
            </div>
            <div class="resizer" id="hdivider2" style="width: 15px; margin-top: 250px; left: 290px; height: 45px;">
                <svg viewBox="0 0 10 40" width="1em" height="4em" class="ui-svg-icon" fill="currentColor">
                    <path
                        d="M0 0h2v2H0zm4 0h2v2H4zM0 4h2v2H0zm4 0h2v2H4zM0 8h2v2H0zm4 0h2v2H4zm-4 4h2v2H0zm4 0h2v2H4zm-4 4h2v2H0zm4 0h2v2H4zm-4 4h2v2H0zm4 0h2v2H4zm-4 4h2v2H0zm4 0h2v2H4zm-4 4h2v2H0zm4 0h2v2H4z">
                    </path>
                </svg>
            </div>
            <div class="at-west" style="max-width: 90%; width: 1200px;">
                {% if fileTreeNavigation == True %}
                {% include 'coursePortal/courseHome/common/filetreeReact.html' %}
                {% endif %}

                  {% block body %}


                    {% endblock %}
        </div>
    </div>
</div>
<div id="footer_wrapper">
    <div id="footer"></div>
</div>
</body>


</html>