<html lang="en" class="rem-16">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-60fc85d40c1e0f9c8e558ba1b512988064525e46d5bcc04741806417de427259.png">
	<title>Dashboard | EduNinja</title>
	<script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
	<script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=AW-860074897&amp;l=dataLayer&amp;cx=c"></script>
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="https://connect.facebook.net/signals/config/789726204815613?v=2.9.33&amp;r=stable" async=""></script>
	<script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
	<script defer="" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<script type="application/ld+json"> { "@context": "http://schema.org", "@type": "Organization", "url": "https://Eduninja.tech", "contactPoint": [{ "@type": "ContactPoint", "telephone": "+1-510-457-1549", "contactType": "customer service" }] } </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;display=swap" rel="stylesheet" async="">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&amp;display=swap" rel="stylesheet" async="">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&amp;display=swap" rel="stylesheet" async="">
	<link rel="stylesheet" media="screen" href="static/css/application_v2-ninjaScore.css">
	<link rel="stylesheet" media="screen" href="static/css/application-bbdf3fff.css">
	<!-- google -->
	<script src="https://www.googletagmanager.com/gtag/js?id=UA-53216025-1"></script>
	<!-- bugsnag -->
	<script data-apikey="989bf793168afc3a5e5a515bf203341a" src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"></script>
	<!-- google -->
	<script>
	/* <![CDATA[ */
	var google_conversion_id = 860074897;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "i8PgCNrvp3AQkeeOmgM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script src="https://www.googleadservices.com/pagead/conversion.js" type="text/javascript"></script>
	<script src="https://www.googleadservices.com/pagead/conversion/860074897/?random=1611876038129&amp;cv=9&amp;fst=1611876038129&amp;num=1&amp;label=i8PgCNrvp3AQkeeOmgM&amp;bg=ffffff&amp;hl=en&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1845&amp;u_cd=24&amp;u_his=5&amp;u_tz=330&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2FEduninja.tech%2F&amp;tiba=Dashboard%20%7C%20Eduninja%20Tech&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4"></script>
	<link rel="stylesheet" type="text/css" href="/packs/css/0-7caef959.chunk.css">
	<script charset="utf-8" src="/packs/js/0-322eff25eaa6fa95e78f.chunk.js"></script>
	<link rel="stylesheet" type="text/css" href="/packs/css/2-67af0b7f.chunk.css">
	<script charset="utf-8" src="/packs/js/2-9f054536b9a0a2f4d31b.chunk.js"></script>
	<script charset="utf-8" src="/packs/js/5-bb5c8b59ecd2300592a4.chunk.js"></script>
	<script charset="utf-8" src="/packs/js/36-c4c5da607a876f8c8801.chunk.js"></script>
	<link rel="stylesheet" type="text/css" href="/packs/css/InternalPage-7caabd52.chunk.css">
	<script charset="utf-8" src="/packs/js/InternalPage-22e416c4f290d39250f2.chunk.js"></script>
	<script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/860074897/?random=1611876039768&amp;cv=9&amp;fst=1611876039768&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1845&amp;u_cd=24&amp;u_his=5&amp;u_tz=330&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oa1k0&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2FEduninja.tech%2F&amp;tiba=Dashboard%20%7C%20Eduninja%20Tech&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
	<meta http-equiv="origin-trial" content="AxL6K+7uLMunmYb1wpp/pnDPBsoQgMGPaTDkE6HIAKvHNoXilVyfzrIZM9q7OUqMUDJCYgIlFmJcvooS3kGjowMAAACOeyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGVhZHNlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiQ29udmVyc2lvbk1lYXN1cmVtZW50IiwiZXhwaXJ5IjoxNjE0MTI0Nzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
	<script src="https://www.googleadservices.com/pagead/conversion/860074897/?random=1611876039776&amp;cv=9&amp;fst=1611876039776&amp;num=1&amp;label=9Lx-CNuOyKIBEJHnjpoD&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1845&amp;u_cd=24&amp;u_his=5&amp;u_tz=330&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oa1k0&amp;sendb=1&amp;ig=1&amp;data=event%3Dconversion&amp;frm=0&amp;url=https%3A%2F%2FEduninja.tech%2F&amp;tiba=Dashboard%20%7C%20Eduninja%20Tech&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
	<style></style>
</head>

<body class="body-theme--none" data-new-gr-c-s-check-loaded="14.993.0" data-gr-ext-installed="">
	<noscript>
		<div style="display:inline;"> <img alt="" height="1" src="//www.googleadservices.com/pagead/conversion/860074897/?label=i8PgCNrvp3AQkeeOmgM&guid=ON&script=0" style="border-style:none;" width="1" /> </div>
	</noscript>
	<div id="cookieconsent">
		<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-floating cc-type-info cc-theme-block cc-bottom cc-left cc-color-override--1523192819 cc-invisible" style="display: none;">
			<!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">We use cookies to ensure you get the best
        experience. <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link"
          href="https://Eduninja.tech/privacy" rel="noopener noreferrer nofollow" target="_blank">Learn more</a></span>
			<div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Got it!</a></div>
			<!--googleon: all-->
		</div>
	</div>
	<div id="portal-root"></div>
	<div id="application-root">
		<div class="page-filler">
			<div class="contents">
				<nav id="sidebar-navigation" aria-label="Primary">
					<div class="product top-margin-10">
						<div class="product-name product-name--home">Home</div>
						<div class="sub-products-list"><a aria-current="page" class="sub-product-name top-margin-10 active" href="/">Dashboard</a></div>
					</div>
					<div class="product top-margin-10">
						<div class="product-name product-name--xyz">Learn</div>
						<div class="sub-products-list"><a class="sub-product-name top-margin-10" href="/skills">Skills</a><a class="sub-product-name top-margin-10" href="/catalog">Catalog</a></div>
					</div>
				</nav>
				<nav id="top-nav" class="navbar-light inner-navbar">
					<div id="page-data">
						<div class="ml-5 d-flex flex-row align-items-center inner-navbar__search"></div>
						<ul class="nav-notification pull-right">
							<li class="dropdown">
								<button aria-haspopup="true" aria-expanded="false" aria-label="User Menu" type="button" class="user-dropdown dropdown-toggle btn btn-transparent"><img class="user-avatar" alt="" src="https://lh4.googleusercontent.com/-uRyfiuLzq9k/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuckWOgaO45VNcDxxkRwCFQMtFjQSWg/s96-c/photo.jpg"></button>
							</li>
						</ul>
					</div>
				</nav>
				<div class="internal-body ">
					<main id="app">
						<div class="app-content">
							<div id="page-header">
								<h1 class="title-1">Dashboard</h1>
								<p class="header-desc">Welcome back!</p>
							</div>
							<div class="nt-container" id="dashboard">
								<h2 class="title-2 ">Your Recent Courses</h2>
								<div class="flex-row-wrap dashboard-cards ">
									<a class="product-card" href="/course/A05">
										<div class="product-card__cover-image product-card__cover-image--no-scale" style="background-image: url(&quot;https://cdn.filestackcontent.com/2boTdKwRNSXmIKxNj6Cw&quot;);"> </div>
										<div class="product-card__name title-3">Style a Webpage with CSS</div>
										<div class="product-card__tags">
											<div class="product-card__tag">html</div>
											<div class="product-card__tag">css</div>
										</div>
										<div class="product-card__desc">Help style a webpage for Johnson's Hardware, a local family owned hardware store.</div>
										<div class="product-card__footer
          

          ">
											<div class="product-card__footer-metric bold">Not Started</div>
										</div>
									</a>
									<a class="product-card" href="/course/A01">
										<div class="product-card__cover-image product-card__cover-image--no-scale" style="background-image: url(&quot;https://cdn.filestackcontent.com/GtWMC2Sp7LfwQQOSFASv&quot;);"> </div>
										<div class="product-card__name title-3">Learn Fundamentals of Python</div>
										<div class="product-card__tags">
											<div class="product-card__tag">r</div>
											<div class="product-card__tag">data analysis</div>
											<div class="product-card__tag">data preparation</div>
										</div>
										<div class="product-card__desc">Learn how to acquire and prepare data for data analysis with R. </div>
										<div class="product-card__footer
          

          product-card__footer--in-progress">
											<div class="product-card__footer-metric bold">6% complete</div>
										</div>
									</a>
									<a class="product-card" href="/course/A03">
										<div class="product-card__cover-image product-card__cover-image--no-scale" style="background-image: url(&quot;https://cdn.filestackcontent.com/j3irxjgRQOypixZ9ZgM9&quot;);"> </div>
										<div class="product-card__name title-3">Learning SQL: Databases</div>
										<div class="product-card__tags">
											<div class="product-card__tag">sql</div>
											<div class="product-card__tag">database</div>
											<div class="product-card__tag">beginner</div>
										</div>
										<div class="product-card__desc">Learn to use SQL databases to store, manipulate, normalize, and secure data.</div>
										<div class="product-card__footer
          

          product-card__footer--in-progress">
											<div class="product-card__footer-metric bold">9% complete</div>
										</div>
									</a>
									<a class="product-card" href="/course/A06">
										<div class="product-card__cover-image product-card__cover-image--no-scale" style="background-image: url(&quot;https://cdn.filestackcontent.com/j3irxjgRQOypixZ9ZgM9&quot;);"> </div>
										<div class="product-card__name title-3">Learning DataScience</div>
										<div class="product-card__tags">
											<div class="product-card__tag">R</div>
											<div class="product-card__tag">Machine Learning</div>
											<div class="product-card__tag">beginner</div>
										</div>
										<div class="product-card__desc">Learn to use R Language, manipulate, create models and Predict .</div>
										<div class="product-card__footer
          

          product-card__footer--in-progress">
											<div class="product-card__footer-metric bold">9% complete</div>
										</div>
									</a>                  
								</div>
								<h2 class="title-2 top-margin-20">Your Recent Sandboxes</h2>
								<div class="flex-row-wrap dashboard-cards ">
									<a href="/sandboxes/66d038c4-c9a1-4f60-b10a-0f55bddcd644/launch" class="product-card product-card--sandbox">
										<div class="product-card__name title-3">A Data Science Sandbox</div>
										<div class="product-card__desc"><span class="bold">Stack Name:</span>
											<div class="float-right">Data Science</div>
											<div class="top-margin-10"><span class="bold">Interface:</span>
												<div class="float-right">Desktop</div>
											</div>
											<div class="top-margin-10"><span class="bold">Last Opened:</span>
												<div class="float-right">
													<time class="" datetime="1611003528000" timeago-id="26">1 week ago</time>
												</div>
											</div>
											<div class="top-margin-10"><span class="bold">Time Spent:</span>
												<div class="float-right">12 seconds</div>
											</div>
										</div>
										<div class="product-card__footer">
											<div class="product-card__footer-metric bold">Resume Sandbox</div>
										</div>
									</a>
									<a href="/sandboxes/5098a7fe-b859-4087-a6d9-d9b79d74e88b/launch" class="product-card product-card--sandbox">
										<div class="product-card__name title-3">A Data Science Sandbox</div>
										<div class="product-card__desc"><span class="bold">Stack Name:</span>
											<div class="float-right">Data Science</div>
											<div class="top-margin-10"><span class="bold">Interface:</span>
												<div class="float-right">Terminal</div>
											</div>
											<div class="top-margin-10"><span class="bold">Last Opened:</span>
												<div class="float-right">
													<time class="" datetime="1611003494000" timeago-id="27">1 week ago</time>
												</div>
											</div>
											<div class="top-margin-10"><span class="bold">Time Spent:</span>
												<div class="float-right">8 seconds</div>
											</div>
										</div>
										<div class="product-card__footer">
											<div class="product-card__footer-metric bold">Resume Sandbox</div>
										</div>
									</a>
									<a href="/sandboxes/2f5371a9-5d2a-4038-a9b7-bcb6698f62ba/launch" class="product-card product-card--sandbox">
										<div class="product-card__name title-3">A Data Science Sandbox</div>
										<div class="product-card__desc"><span class="bold">Stack Name:</span>
											<div class="float-right">Data Science</div>
											<div class="top-margin-10"><span class="bold">Interface:</span>
												<div class="float-right">Desktop</div>
											</div>
											<div class="top-margin-10"><span class="bold">Last Opened:</span>
												<div class="float-right">
													<time class="" datetime="1611003419000" timeago-id="28">1 week ago</time>
												</div>
											</div>
											<div class="top-margin-10"><span class="bold">Time Spent:</span>
												<div class="float-right">1 minute</div>
											</div>
										</div>
										<div class="product-card__footer">
											<div class="product-card__footer-metric bold">Resume Sandbox</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>
		</div>
		<div id="alert-container" class="flash-messages"></div>
	</div>
	<div id="application-data" data="{&quot;rails_env&quot;:&quot;production&quot;,&quot;user_signed_in&quot;:true,&quot;user_masquerade&quot;:false,&quot;hide_navigation&quot;:false,&quot;flash_messages&quot;:[],&quot;show_banner&quot;:false,&quot;landing_route&quot;:&quot;&quot;,&quot;project_theme&quot;:&quot;&quot;}"> </div>
	<script src="/packs/js/runtime~application-c00b7b9c51017508f649.js"></script>
	<script src="/packs/js/34-8f5227ea91fd8c45d4e6.chunk.js"></script>
	<script src="/packs/js/application-38f2772ff1559909b722.chunk.js"></script>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		// Initialize Bugsnag
		if(!!window.Bugsnag) {
			Bugsnag.releaseStage = "production";
			Bugsnag.notifyReleaseStages = ["staging", "production", "projects"];
			Bugsnag.user = {
				id: "b7053ac3-d02e-4c60-9b4f-1321adc36491",
				name: "New User",
				email: "eduninja.grp@gmail.com"
			}
		}
		// Analytics
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-53216025-1');
		gtag('config', 'AW-860074897');
		gtag('event', 'conversion', {
			'send_to': 'AW-860074897/9Lx-CNuOyKIBEJHnjpoD'
		});
	});
	</script>
</body>

</html>