<html lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Learn Python 3: Functions </title>
  <link rel="shortcut icon" type="image/x-icon" href=" ">

  <link data-chunk="portal" rel="stylesheet"
    href="/static/redo/146.f1fe8516224c1e7c894b.chunk.css">
  <link data-chunk="portal" rel="stylesheet"
    href="/static/redo/171.50e83dc773f09acf81d2.chunk.css">
  <link data-chunk="portal" rel="stylesheet"
    href="/static/redo/190.c14a55a9fea67d56f403.chunk.css">
  <link data-chunk="portal" rel="stylesheet"
    href="/static/redo/194.859839a90d0c0c8c00d5.chunk.css">
  <link data-chunk="portal" rel="stylesheet"
    href="/static/redo/199.d05cf7fbb0df65a9a32c.chunk.css">
  <link data-chunk="portal" rel="stylesheet"
    href="/static/redo/268.f70af03acb792c6dc329.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/7.b8acd3a496511442fceb.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/11.d7d6955a1a4c46f3c1de.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/14.3029538a88215dc48521.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/33.20e3dbcad4855ef78269.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/35.eea709c9f79c8c50ced3.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/40.f87d3f20b7ffb445c9e9.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/49.5ff8f6dc7fce29c7d9a6.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/52.1cbe41b2ed05def833e8.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/53.4877e254445ebd135b97.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/54.66d53ad50b3a0f75c77a.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/57.a91679239edf61d7837a.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/58.0d8f629dc0df1fb84a8a.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/60.0a9b5db5f773b5081a63.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/61.093e4f33088d49316154.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/62.6344940a0607a27960b9.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/63.bda13edb14d54b4b4c4b.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/64.a480c84cbc67d50cf9ae.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/65.6fe2c033c8928c22dd93.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/66.e62f62b42864a1ef68cb.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/67.6549d20b28ad79034857.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/107.54700716d956aba84763.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/3.5e057cbed623b7066fdf.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/8.9c38fdd81d0a0cffa4d3.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/18.9a7ef7972ce7857c5c15.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/24.04fb7101724150f91071.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/26.ecaf6b1a3bcfd8620bac.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/30.e4310bd628d215a26bdb.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/32.1d6b9836dd93fd6cf2a6.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/34.fe623d3c550535cae8db.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/42.938fc186a8a34e0cfe02.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/44.93c88cd707a6786ec62a.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/46.3b2bf697b478cdfb677e.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/71.2a854a510627c8f7207c.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/90.2e1239de616dfd61b817.chunk.css">
  <link data-chunk="portal-scenes-CoursePages-CheatsheetPage" rel="stylesheet"
    href="/static/redo/106.53cb844deca8bb899566.chunk.css">






<body browser="Windows">
  <div id="emotion-styles">
  </div>



  <div class="react-root" data-react-class="PortalRouter">
    <header class="container__3hIWBaJxrnThcgruAeqeI3" data-testid="AppHeader">

    </header>
    <main>

      <div class="contentContainer__2hNipbbqs3wX_aJ0xS9qxf">
        <div
          class="container__J-__4854a2VOVrt2SkRMG cheatsheetContent__2BIOrw4YD4-tjRnTyVLCl0 rowGap_sm__xs__17NbLejkRWgiCahZTPPWE8 columnGap_sm__xs__1X4ccOoGYX0uIvLjzYJzJw columnGap_md__sm__37kMAvz8xXSFo5OcOlUlzD columnGap_lg__md__ZCy-lov2XnFlwEIojV9Q0">

          <div
            class="container__2Xjoflh2e7tDXQ-7i67mc printAsBlock__4cC7-ibN9tCaI9hcjMQmo size_12__xs__aUv3TtXKpj2ontAA_xxlc size_8__sm__1SY_fVJohCtAQCMu8qg2yi size_9__md__1f5aJwfvNO9iZ0d8QJ9Eym">
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Functions</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Some tasks need to be performed multiple times within a program.
                    Rather than rewrite the same code in multiple places, a function may be defined using the <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">def</code> keyword. Function definitions may include
                    parameters, providing data input to the function. </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Functions may return a value using the <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">return</code> keyword followed by the value to return.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-comment"># Define a function my_function() with parameter x</span>
<!-- -->
<span class="cm-keyword">def</span> <span class="cm-def">my_function</span>(<span class="cm-variable">x</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-keyword">return</span> <span class="cm-variable">x</span> <span class="cm-operator">+</span> <span class="cm-number">1</span>
<!-- -->
<span class="cm-comment"># Invoke the function</span>
<!-- -->
<span class="cm-builtin">print</span>(<span class="cm-variable">my_function</span>(<span class="cm-number">2</span>)<!-- -->)<!-- -->      <span class="cm-comment"># Output: 3</span>
<span class="cm-builtin">print</span>(<span class="cm-variable">my_function</span>(<span class="cm-number">3</span> <span class="cm-operator">+</span> <span class="cm-number">5</span>)<!-- -->)<!-- -->  <span class="cm-comment"># Output: 9</span></div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Calling Functions</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Python uses simple syntax to use, invoke, or <em>call</em> a
                    preexisting function. A function can be called by writing the name of it, followed by parentheses.
                  </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">For example, the code provided would call the <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">doHomework()</code> method.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-variable">doHomework</span>(<!-- -->)</div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Function Indentation</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Python uses indentation to identify blocks of code. Code within
                    the same block should be indented at the same level. A Python function is one type of code block.
                    All code under a function declaration should be indented to identify it as part of the function.
                    There can be additional indentation within a function to handle other statements such as <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">for</code> and <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">if</code> so long as the lines are not indented less than the
                    first line of the function code.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-comment"># Indentation is used to identify code blocks</span>
<!-- -->
<span class="cm-keyword">def</span> <span class="cm-def">testfunction</span>(<span class="cm-variable">number</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-comment"># This code is part of testfunction</span>
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-string">"Inside the testfunction"</span>)<!-- -->
<!-- -->  <span class="cm-builtin">sum</span> <span class="cm-operator">=</span> <span class="cm-number">0</span>
<!-- -->  <span class="cm-keyword">for</span> <span class="cm-variable">x</span> <span class="cm-keyword">in</span> <span class="cm-builtin">range</span>(<span class="cm-variable">number</span>)<!-- -->:<!-- -->
<!-- -->    <span class="cm-comment"># More indentation because 'for' has a code block</span>
<!-- -->    <span class="cm-comment"># but still part of he function</span>
<!-- -->    <span class="cm-builtin">sum</span> <span class="cm-operator">+=</span> <span class="cm-variable">x</span>
<!-- -->  <span class="cm-keyword">return</span> <span class="cm-builtin">sum</span>
<span class="cm-builtin">print</span>(<span class="cm-string">"This is not part of testfunction"</span>)</div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Function Parameters</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Sometimes functions require input to provide data for their code.
                    This input is defined using <em>parameters</em>.</p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw"><em>Parameters</em> are variables that are defined in the
                    function definition.
                    They are assigned the values which were passed as arguments when the function was called, elsewhere
                    in the code.</p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">For example, the function definition defines parameters for a
                    character, a setting, and a skill, which are used as inputs to write the first sentence of a book.
                  </p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">write_a_book</span>(<span class="cm-variable">character</span>,<!-- --> <span class="cm-variable">setting</span>,<!-- --> <span class="cm-variable">special_skill</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-variable">character</span> <span class="cm-operator">+</span> <span class="cm-string">" is in "</span> <span class="cm-operator">+</span> <!-- -->
<!-- -->        <span class="cm-variable">setting</span> <span class="cm-operator">+</span> <span class="cm-string">" practicing her "</span> <span class="cm-operator">+</span> <!-- -->
<!-- -->        <span class="cm-variable">special_skill</span>)</div></code></div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Multiple Parameters</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Python functions can have multiple <em>parameters</em>. Just as
                    you wouldn’t go to school without both a backpack and a pencil case, functions may also need more
                    than one input to carry out their operations. </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">To define a function with multiple parameters, parameter names
                    are placed one after another, separated by commas, within the parentheses of the function
                    definition.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">ready_for_school</span>(<span class="cm-variable">backpack</span>,<!-- --> <span class="cm-variable">pencil_case</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-keyword">if</span> <!-- -->(<span class="cm-variable">backpack</span> <span class="cm-operator">==</span> <span class="cm-string">'full'</span> <span class="cm-keyword">and</span> <span class="cm-variable">pencil_case</span> <span class="cm-operator">==</span> <span class="cm-string">'full'</span>)<!-- -->:<!-- -->
<!-- -->    <span class="cm-builtin">print</span> <!-- -->(<span class="cm-string">"I'm ready for school!"</span>)</div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Function Arguments</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw"><em>Parameters</em> in python are variables — placeholders for
                    the actual values the function needs. When the function is <em>called</em>, these values are passed
                    in as <em>arguments</em>. </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">For example, the arguments passed into the function <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">.sales()</code> are the “The Farmer’s Market”, “toothpaste”,
                    and “$1” which correspond to the parameters <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">grocery_store</code>, <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">item_on_sale</code>, and <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">cost</code>.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">sales</span>(<span class="cm-variable">grocery_store</span>,<!-- --> <span class="cm-variable">item_on_sale</span>,<!-- --> <span class="cm-variable">cost</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-variable">grocery_store</span> <span class="cm-operator">+</span> <span class="cm-string">" is selling "</span> <span class="cm-operator">+</span> <span class="cm-variable">item_on_sale</span> <span class="cm-operator">+</span> <span class="cm-string">" for "</span> <span class="cm-operator">+</span> <span class="cm-variable">cost</span>)<!-- --> <!-- -->
<!-- -->
<span class="cm-variable">sales</span>(<span class="cm-string">"The Farmer’s Market"</span>,<!-- --> <span class="cm-string">"toothpaste"</span>,<!-- --> <span class="cm-string">"$1"</span>)</div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Function Keyword Arguments</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Python functions can be defined with named arguments which may
                    have default values provided. When function arguments are passed using their names, they are
                    referred to as keyword arguments. The use of keyword arguments when calling a function allows the
                    arguments to be passed in any order — <em>not</em> just the order that they were defined in the
                    function. If the function is invoked without a value for a specific argument, the default value will
                    be used.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">findvolume</span>(<span class="cm-variable">length</span><span class="cm-operator">=</span><span class="cm-number">1</span>,<!-- --> <span class="cm-variable">width</span><span class="cm-operator">=</span><span class="cm-number">1</span>,<!-- --> <span class="cm-variable">depth</span><span class="cm-operator">=</span><span class="cm-number">1</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-string">"Length = "</span> <span class="cm-operator">+</span> <span class="cm-builtin">str</span>(<span class="cm-variable">length</span>)<!-- -->)<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-string">"Width = "</span> <span class="cm-operator">+</span> <span class="cm-builtin">str</span>(<span class="cm-variable">width</span>)<!-- -->)<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-string">"Depth = "</span> <span class="cm-operator">+</span> <span class="cm-builtin">str</span>(<span class="cm-variable">depth</span>)<!-- -->)<!-- -->
<!-- -->  <span class="cm-keyword">return</span> <span class="cm-variable">length</span> <span class="cm-operator">*</span> <span class="cm-variable">width</span> <span class="cm-operator">*</span> <span class="cm-variable">depth</span>;<!-- -->
<!-- -->
<span class="cm-variable">findvolume</span>(<span class="cm-number">1</span>,<!-- --> <span class="cm-number">2</span>,<!-- --> <span class="cm-number">3</span>)<!-- -->
<span class="cm-variable">findvolume</span>(<span class="cm-variable">length</span><span class="cm-operator">=</span><span class="cm-number">5</span>,<!-- --> <span class="cm-variable">depth</span><span class="cm-operator">=</span><span class="cm-number">2</span>,<!-- --> <span class="cm-variable">width</span><span class="cm-operator">=</span><span class="cm-number">4</span>)<!-- -->
<span class="cm-variable">findvolume</span>(<span class="cm-number">2</span>,<!-- --> <span class="cm-variable">depth</span><span class="cm-operator">=</span><span class="cm-number">3</span>,<!-- --> <span class="cm-variable">width</span><span class="cm-operator">=</span><span class="cm-number">4</span>)</div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Returning Value from Function</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">A <code class="code__2rdF32qjRVp7mMVBHuPwDS">return</code>
                    keyword is used to return a value from a Python function. The value returned from a function can be
                    assigned to a variable which can then be used in the program.</p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">In the example, the function <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">check_leap_year</code> returns a string which indicates if
                    the passed parameter is a leap year or not.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">check_leap_year</span>(<span class="cm-variable">year</span>)<!-- -->:<!-- --> <!-- -->
<!-- -->  <span class="cm-keyword">if</span> <span class="cm-variable">year</span> <span class="cm-operator">%</span> <span class="cm-number">4</span> <span class="cm-operator">==</span> <span class="cm-number">0</span>:<!-- -->
<!-- -->    <span class="cm-keyword">return</span> <span class="cm-builtin">str</span>(<span class="cm-variable">year</span>)<!-- --> <span class="cm-operator">+</span> <span class="cm-string">" is a leap year."</span>
<!-- -->  <span class="cm-keyword">else</span>:<!-- -->
<!-- -->    <span class="cm-keyword">return</span> <span class="cm-builtin">str</span>(<span class="cm-variable">year</span>)<!-- --> <span class="cm-operator">+</span> <span class="cm-string">" is not a leap year."</span>
<!-- -->
<span class="cm-variable">year_to_check</span> <span class="cm-operator">=</span> <span class="cm-number">2018</span>
<span class="cm-variable">returned_value</span> <span class="cm-operator">=</span> <span class="cm-variable">check_leap_year</span>(<span class="cm-variable">year_to_check</span>)<!-- -->
<span class="cm-builtin">print</span>(<span class="cm-variable">returned_value</span>)<!-- --> <span class="cm-comment"># 2018 is not a leap year.</span></div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Returning Multiple Values</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Python functions are able to return multiple values using one
                    <code class="code__2rdF32qjRVp7mMVBHuPwDS">return</code> statement. All values that should be
                    returned are listed after the <code class="code__2rdF32qjRVp7mMVBHuPwDS">return</code> keyword and
                    are separated by commas.</p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">In the example, the function <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">square_point()</code> returns <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">x_squared</code>, <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">y_squared</code>, and <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">z_squared</code>.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">square_point</span>(<span class="cm-variable">x</span>,<!-- --> <span class="cm-variable">y</span>,<!-- --> <span class="cm-variable">z</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-variable">x_squared</span> <span class="cm-operator">=</span> <span class="cm-variable">x</span> <span class="cm-operator">*</span> <span class="cm-variable">x</span>
<!-- -->  <span class="cm-variable">y_squared</span> <span class="cm-operator">=</span> <span class="cm-variable">y</span> <span class="cm-operator">*</span> <span class="cm-variable">y</span>
<!-- -->  <span class="cm-variable">z_squared</span> <span class="cm-operator">=</span> <span class="cm-variable">z</span> <span class="cm-operator">*</span> <span class="cm-variable">z</span>
<!-- -->  <span class="cm-comment"># Return all three values:</span>
<!-- -->  <span class="cm-keyword">return</span> <span class="cm-variable">x_squared</span>,<!-- --> <span class="cm-variable">y_squared</span>,<!-- --> <span class="cm-variable">z_squared</span>
<!-- -->
<span class="cm-variable">three_squared</span>,<!-- --> <span class="cm-variable">four_squared</span>,<!-- --> <span class="cm-variable">five_squared</span> <span class="cm-operator">=</span> <span class="cm-variable">square_point</span>(<span class="cm-number">3</span>,<!-- --> <span class="cm-number">4</span>,<!-- --> <span class="cm-number">5</span>)</div></code>
                  </div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Parameters as Local Variables</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Function parameters behave identically to a function’s local
                    variables. They are initialized with the values passed into the function when it was called.</p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">Like local variables, parameters cannot be referenced from
                    outside the scope of the function. </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">In the example, the parameter <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">value</code> is defined as part of the definition of <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">my_function</code>, and therefore can only be accessed within
                    <code class="code__2rdF32qjRVp7mMVBHuPwDS">my_function</code>. Attempting to print the contents of
                    <code class="code__2rdF32qjRVp7mMVBHuPwDS">value</code> from outside the function causes an error.
                  </p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-keyword">def</span> <span class="cm-def">my_function</span>(<span class="cm-variable">value</span>)<!-- -->:<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-variable">value</span>)<!-- -->   <!-- -->
<!-- -->  <!-- -->
<span class="cm-comment"># Pass the value 7 into the function</span>
<span class="cm-variable">my_function</span>(<span class="cm-number">7</span>)<!-- --> <!-- -->
<!-- -->
<span class="cm-comment"># Causes an error as `value` no longer exists</span>
<span class="cm-builtin">print</span>(<span class="cm-variable">value</span>)<!-- --> </div></code></div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">Global Variables</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">A variable that is defined outside of a function is called a
                    global variable. It can be accessed inside the body of a function. </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">In the example, the variable <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">a</code> is a global variable because it is defined outside
                    of the function <code class="code__2rdF32qjRVp7mMVBHuPwDS">prints_a</code>. It is therefore
                    accessible to <code class="code__2rdF32qjRVp7mMVBHuPwDS">prints_a</code>, which will print the value
                    of <code class="code__2rdF32qjRVp7mMVBHuPwDS">a</code>.</p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-variable">a</span> <span class="cm-operator">=</span> <span class="cm-string">"Hello"</span>
<!-- -->
<span class="cm-keyword">def</span> <span class="cm-def">prints_a</span>(<!-- -->)<!-- -->:<!-- -->
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-variable">a</span>)<!-- -->
<!-- -->  <!-- -->
<span class="cm-comment"># will print "Hello"</span>
<span class="cm-variable">prints_a</span>(<!-- -->)<!-- -->
</div></code></div>
                </div>
              </div>
            </div>
            <div class="container__J-__4854a2VOVrt2SkRMG reviewCardGrid__3EzDHwkp6X8nlMT6Z_NEMw ">
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTitleColumn__mgmCdQAzfZj0jxEM28lw1 size_12__xs__aUv3TtXKpj2ontAA_xxlc">
                <div data-testid="markdown" class="markdown__1eeYJ4WPKUcvX_LDDGJR12 cardTitle__5yVW2rExZ44d96CY6x1Fz">
                  <h3 class="h3__3B1DSzXTW-ux1viDSStOux">The Scope of Variables</h3>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc reviewCardTextColumn__n4kVVPftRbnZCNDkXYIUj size_12__xs__aUv3TtXKpj2ontAA_xxlc size_5__md__IwLPKkrKRuwYsdhXY0QEX">
                <div data-testid="markdown"
                  class="spacing-tight__2Gp7GTqG0TykPQ18OnUOVt markdown__1eeYJ4WPKUcvX_LDDGJR12 reviewCardText__zNgI-tH5TFzfMDdaqRN7S">
                  <p class="p__1qg33Igem5pAgn4kPMirjw">In Python, a variable defined inside a function is called a local
                    variable. It cannot be used outside of the scope of the function, and attempting to do so without
                    defining the variable outside of the function will cause an error. </p>
                  <p class="p__1qg33Igem5pAgn4kPMirjw">In the example, the variable <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">a</code> is defined both inside and outside of the function.
                    When the function <code class="code__2rdF32qjRVp7mMVBHuPwDS">f1()</code> is implemented, <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">a</code> is printed as <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">2</code> because it is locally defined to be so. However,
                    when printing <code class="code__2rdF32qjRVp7mMVBHuPwDS">a</code> outside of the function, <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">a</code> is printed as <code
                      class="code__2rdF32qjRVp7mMVBHuPwDS">5</code> because it is implemented outside of the scope of
                    the function. </p>
                </div>
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc spacerColumn__2HWGz8nyNz7ANCg4m7K_lR size_1__xs__mIeZCbaO4z_IjBYOvx12o">
              </div>
              <div
                class="container__2Xjoflh2e7tDXQ-7i67mc codeBlockColumn__290QQJPP5jXmQ1nCsLWLcs size_12__xs__aUv3TtXKpj2ontAA_xxlc size_6__md__11FCtU5j3wxoOgbBiEAjKu">
                <div class="reviewCodeBlockWrapper__3rafujQziUMN4dHlFtIHKF">
                  <div class="codeblock__2ixIebCCbm1_CNSkfoDWU2 codeBlock__1CTSgAqaeDZXb_zX8YmwEK"><code
                      class="CodeBlock__39qg1FBUXaUYMtwg9-zKQ- wrap__31SsdEPy7KS--zmIH0YXmq defaults__26AhAxtPuPqy9msUlgGKkz cc__1MQz6eKDoLOc9B7nMEX9tN undefined"><div class="CodeMirror"><span class="cm-variable">a</span> <span class="cm-operator">=</span> <span class="cm-number">5</span>
<!-- -->
<span class="cm-keyword">def</span> <span class="cm-def">f1</span>(<!-- -->)<!-- -->:<!-- -->
<!-- -->  <span class="cm-variable">a</span> <span class="cm-operator">=</span> <span class="cm-number">2</span>
<!-- -->  <span class="cm-builtin">print</span>(<span class="cm-variable">a</span>)<!-- -->
<!-- -->  <!-- -->
<span class="cm-builtin">print</span>(<span class="cm-variable">a</span>)<!-- -->   <span class="cm-comment"># Will print 5</span>
<span class="cm-variable">f1</span>(<!-- -->)<!-- -->       <span class="cm-comment"># Will print 2</span></div></code>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="container__2Xjoflh2e7tDXQ-7i67mc size_12__xs__aUv3TtXKpj2ontAA_xxlc size_8__sm__1SY_fVJohCtAQCMu8qg2yi size_9__md__1f5aJwfvNO9iZ0d8QJ9Eym offset_0__xs__2lfPPcjZNihY5lQhHTsE49 offset_4__sm__MZOwWw7GSr0nVHM5r5mIR offset_3__md__3ala1zouOgO72WkaEnvXIw">
            <div data-testid="sequential-navigation" class="sequentialNavWrapper__3vnjz1S8KoSYpEbOXHays5">
              <p><a data-testid="previous-button"
                  href="https://www.codecademy.com/learn/learn-python-3/modules/learn-python3-syntax/cheatsheet"><svg
                    viewBox="0 0 24 24" width="16px" height="16px" fill="currentColor" role="img"
                    class="previousArrow__2Hs6Oe1pbMr8dVJVjCuXGL">
                    <title>Arrow Left Icon</title>
                    <path
                      d="M11.25 23.25a.743.743 0 01-.53-.22L.22 12.53a.74.74 0 01-.163-.245l-.01-.026a.75.75 0 01.009-.541.74.74 0 01.166-.249L10.72.97a.744.744 0 011.06 0c.142.141.22.33.22.53s-.078.389-.22.53l-9.22 9.22h20.69a.75.75 0 010 1.5H2.561l9.22 9.22a.75.75 0 01-.531 1.28z">
                    </path>
                  </svg>Previous</a></p>
              <p><a data-testid="next-button"
                  href="https://www.codecademy.com/learn/learn-python-3/modules/learn-python3-control-flow/cheatsheet">Next<svg
                    viewBox="0 0 24 24" width="16px" height="16px" fill="currentColor" role="img"
                    class="nextArrow__3rtVO2Gfbp1F05ffQodGBm">
                    <title>Arrow Right Icon</title>
                    <path
                      d="M12.75 23.25a.752.752 0 01-.53-1.281l9.22-9.22H.75a.749.749 0 110-1.499h20.689l-9.22-9.22A.746.746 0 0112.22.97c.141-.142.33-.22.53-.22s.389.078.53.22l10.5 10.5a.74.74 0 01.163.245l.01.026a.73.73 0 010 .517l-.006.016a.755.755 0 01-.168.257L13.28 23.03a.743.743 0 01-.53.22z">
                    </path>
                  </svg></a></p>
            </div>
          </div>
          <div class="container__2Xjoflh2e7tDXQ-7i67mc size_12__xs__aUv3TtXKpj2ontAA_xxlc">

          </div>
        </div>
      </div>
    </main>

  </div>








  <div id="modal">

  </div>





  
    <div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.6163120105707511"><img
      style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.4141422971133284" width="0"
      height="0" alt="" src="/static/redo/0"></div><iframe height="0" width="0" frameborder="0"
    style="display: none;" src="/static/redo/pp.html"></iframe><iframe name="_hjRemoteVarsFrame"
    title="_hjRemoteVarsFrame" id="_hjRemoteVarsFrame"
    src="/static/redo/box-469cf41adb11dc78be68c1ae7f9457a4.html"
    style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><iframe
    id="intercom-frame"
    style="position: absolute !important; opacity: 0 !important; width: 1px !important; height: 1px !important; top: 0 !important; left: 0 !important; border: none !important; display: block !important; z-index: -1 !important; pointer-events: none;"
    aria-hidden="true" tabindex="-1" title="Intercom"
    src="/static/redo/saved_resource.html"></iframe>
  <div class="intercom-lightweight-app" aria-live="polite">
    <style id="intercom-lightweight-app-style" type="text/css">
      @keyframes intercom-lightweight-app-launcher {
        from {
          opacity: 0;
          transform: scale(0.5);
        }

        to {
          opacity: 1;
          transform: scale(1);
        }
      }

      @keyframes intercom-lightweight-app-gradient {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes intercom-lightweight-app-messenger {
        from {
          opacity: 0;
          transform: translateY(20px);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .intercom-lightweight-app {
        position: fixed;
        z-index: 2147483001;
        width: 0;
        height: 0;
        font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
      }

      .intercom-lightweight-app-gradient {
        position: fixed;
        z-index: 2147483002;
        width: 500px;
        height: 500px;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background: radial-gradient(ellipse at bottom right,
            rgba(29, 39, 54, 0.16) 0%,
            rgba(29, 39, 54, 0) 72%);
        animation: intercom-lightweight-app-gradient 200ms ease-out;
      }

      .intercom-lightweight-app-launcher {
        position: fixed;
        z-index: 2147483003;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #4b35ef;
        cursor: pointer;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
        animation: intercom-lightweight-app-launcher 250ms ease;
      }

      .intercom-lightweight-app-launcher:focus {
        outline: none;

      }

      .intercom-lightweight-app-launcher-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        transition: transform 100ms linear, opacity 80ms linear;
      }

      .intercom-lightweight-app-launcher-icon-open {

        opacity: 1;
        transform: rotate(0deg) scale(1);

      }

      .intercom-lightweight-app-launcher-icon-open svg {
        width: 28px;
        height: 32px;
      }

      .intercom-lightweight-app-launcher-icon-open svg path {
        fill: rgb(255, 255, 255);
      }

      .intercom-lightweight-app-launcher-icon-self-serve {

        opacity: 1;
        transform: rotate(0deg) scale(1);

      }

      .intercom-lightweight-app-launcher-icon-self-serve svg {
        height: 56px;
      }

      .intercom-lightweight-app-launcher-icon-self-serve svg path {
        fill: rgb(255, 255, 255);
      }

      .intercom-lightweight-app-launcher-custom-icon-open {
        max-height: 36px;
        max-width: 36px;

        opacity: 1;
        transform: rotate(0deg) scale(1);

      }

      .intercom-lightweight-app-launcher-icon-minimize {

        opacity: 0;
        transform: rotate(-60deg) scale(0);

      }

      .intercom-lightweight-app-launcher-icon-minimize svg {
        width: 16px;
      }

      .intercom-lightweight-app-launcher-icon-minimize svg path {
        fill: rgb(255, 255, 255);
      }

      .intercom-lightweight-app-messenger {
        position: fixed;
        z-index: 2147483003;
        overflow: hidden;
        background-color: white;
        animation: intercom-lightweight-app-messenger 250ms ease-out;

        width: 376px;
        height: calc(100% - 40px);
        max-height: 704px;
        min-height: 250px;
        right: 20px;
        bottom: 20px;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
        border-radius: 8px;

      }

      .intercom-lightweight-app-messenger-header {
        height: 75px;
        background: linear-gradient(135deg,
            rgb(75, 53, 239) 0%,
            rgb(33, 14, 176) 100%);
      }

      @media print {
        .intercom-lightweight-app {
          display: none;
        }
      }
    </style>
  </div><img height="1px" width="1px" style="display: none;" alt="" src="/static/redo/458359.gif">
</body>

</html>