{% extends "courseHome/courses/cs003/modules/base_M001.html" %}
{% block title %} the_title {% endblock %}

{% block body %}

<div class="at-west" style="max-width:70%">

    <div class="center" id="center-panel">

        <div class="video">
            <iframe src="/static/video/v001.mp4" width="1440" height="650"></iframe>
        </div>

    </div>
</div>
<div class="hdivider ui-draggable ui-draggable-handle" id="hdivider2"
    style="display: none; left: 1552.99px;">
    <div></div>
</div>

{% endblock %}