
<!DOCTYPE html>
  
 <html lang="en"><head>
      <link rel="shortcut icon" type="image/x-icon" href="">
      <title>
         Login | Tech
      </title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;display=swap" rel="stylesheet" async="">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&amp;display=swap" rel="stylesheet" async="">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&amp;display=swap" rel="stylesheet" async="">
      <link href="https://next.tech" hreflang="en-us=" rel="alternate" async="">
      <link rel="stylesheet" media="screen" href="/static/css/34-2da692b1.css">
      <link rel="stylesheet" media="screen" href="/static/css/application-565a0b06.css">
      <!-- google -->
   </head>
   <body class="body-theme--none ">
      <div id="cookieconsent"></div>
      <div id="portal-root"></div>
      <div id="application-root">
         <div class="page-filler">
            <nav class="nt-outer-nav navbar navbar-expand-lg navbar-dark bg-nt">
               <a aria-label="Next Tech" href="/">
                  <span class="navbar-brand" style="width: 133px; display: flex; align-items: center; justify-content: center;">
                     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2213 913" xml:space="preserve" class="h-auto" alt="next.tech Logo" style="flex-grow: 1;">
                        <style type="text/css">
                           .st0 {
                           fill: #278ABB;
                           }
                           .st1 {
                           fill: #FFFFFF;
                           }
                           .st2 {
                           fill: #FFFFFF;
                           }
                        </style>
                        <path class="st0" d="M1233.8,342.1H1178v-54.2h55.8V226l64.5-10.5v72.4H1401v54.2h-102.8v99.7c0,9.1,0.9,16.4,2.6,22
                           c1.7,5.6,4.2,10,7.3,13.1c3.1,3.1,7,5.2,11.5,6.3c4.5,1,9.6,1.6,15.2,1.6c5.9,0,11.5-0.2,16.5-0.5c5.1-0.3,9.9-0.9,14.6-1.9
                           c4.7-0.9,9.6-2.1,14.6-3.8c5.1-1.7,10.6-4,16.6-6.8l8.9,55.6c-11.9,4.9-24.7,8.4-38.5,10.5c-13.8,2.1-27.2,3.1-40.1,3.1
                           c-15,0-28.2-1.2-39.9-3.7c-11.5-2.4-21.2-7.2-29.3-14.2c-8-7-14.1-16.8-18.3-29.5c-4.2-12.8-6.3-29.4-6.3-50.2V342.1L1233.8,342.1z">
                        </path>
                        <path class="st0" d="M1419,414c0-21.7,3.3-40.7,9.9-57.2c6.6-16.4,15.3-30.1,26.1-41.1c10.8-11,23.2-19.2,37.1-24.8
                           c13.9-5.6,28.2-8.4,42.9-8.4c36.2,0,63.8,10.7,82.6,32.3c18.8,21.5,28.2,53,28.2,94.2c0,4.2-0.2,8.6-0.3,13.1
                           c-0.2,4.5-0.5,8.2-0.7,11h-159.4c0,16.1,6.6,28.8,19.9,38.1s30.3,14,51.2,14c12.9,0,25.1-1.4,36.8-4.2c11.7-2.8,21.4-5.6,29.6-8.4
                           l8.9,55.1c-11.2,3.8-23,7.2-35.5,9.8c-12.6,2.6-26.7,3.8-42.3,3.8c-20.9,0-39.7-2.8-56.1-8.2c-16.6-5.4-30.7-13.5-42.3-24.1
                           c-11.7-10.7-20.7-23.8-27-39.5C1422.1,453.3,1419,435,1419,414z M1583.6,387.4c0-6.6-0.9-12.9-2.6-19.1s-4.5-11.5-8.4-16.6
                           c-3.8-4.9-8.7-8.7-14.6-11.9c-5.9-3-13.2-4.5-22-4.5c-8.4,0-15.7,1.4-21.8,4.2c-6.1,2.8-11.2,6.6-15.2,11.5
                           c-4,4.9-7.1,10.5-9.4,16.8c-2.3,6.3-3.8,12.8-4.3,19.4h98.2V387.4z"></path>
                        <path class="st0" d="M1674,410.2c0-17.8,2.8-34.6,8.4-50.3c5.6-15.7,14.1-29.4,25.6-41.3c11.5-11.7,26-21,43.6-27.8
                           c17.6-6.8,38.5-10.3,63.1-10.3c14.6,0,27.9,1,39.7,3.1c11.8,2.1,23.9,5.6,36.1,10.5l-14.1,51.9c-7-2.4-14.8-4.5-23.2-6.6
                           c-8.5-1.9-19.5-2.8-32.8-2.8c-15.3,0-28.2,1.7-38.3,5.4c-10.3,3.7-18.6,8.7-24.7,15.2c-6.3,6.5-10.8,14.3-13.6,23.4
                           c-2.8,9.1-4.2,18.9-4.2,29.4c0,22.7,6.3,40.6,19.2,53.5c12.7,12.9,34.3,19.4,65,19.4c10.1,0,20.6-0.7,31.7-2.1
                           c11-1.4,20.9-3.7,30-6.8l9.4,53c-9.1,3.5-20,6.3-32.9,8.6c-12.9,2.3-28,3.5-45.5,3.5c-25.1,0-46.7-3.3-64.5-10
                           c-17.9-6.6-32.8-15.7-44.1-27.3c-11.5-11.5-20-25.2-25.4-40.9C1676.8,445.4,1674,428.6,1674,410.2z"></path>
                        <path class="st0" d="M1928,534.5v-353l62.7-11v119.6c5.2-1.7,11.5-3.5,19-5.1c7.3-1.6,13.9-2.4,19.5-2.4c18.3,0,33.4,2.8,45.8,8
                           c12.2,5.4,22.1,13.1,29.4,23.1c7.3,10,12.5,21.9,15.9,35.7c3.1,13.8,4.7,29,4.7,45.8v139.3h-62.7V403.9c0-23.1-2.6-39.7-7.8-49.8
                           c-5.2-10.1-15.3-15.2-30.1-15.2c-5.9,0-11.8,0.7-17.8,2.1c-5.8,1.4-10.4,2.6-13.9,3.7l-1.7,189.9H1928z"></path>
                        <path class="st1" d="M319,414c0-21.7,3.3-40.7,9.9-57.2c6.6-16.4,15.3-30.1,26.1-41.1c10.8-11,23.2-19.2,37.1-24.8
                           c13.9-5.6,28.2-8.4,42.9-8.4c36.2,0,63.8,10.7,82.6,32.3c18.8,21.5,28.2,53,28.2,94.2c0,4.2-0.2,8.6-0.2,13.1
                           c-0.2,4.5-0.5,8.2-0.9,11H385.4c0,16.1,6.6,28.8,19.9,38.1s30.3,14,51.2,14c12.9,0,25.1-1.4,36.8-4.2c11.7-2.8,21.4-5.6,29.4-8.4
                           l8.9,55.1c-11.2,3.8-23,7.2-35.5,9.8c-12.5,2.6-26.7,3.8-42.3,3.8c-20.9,0-39.7-2.8-56.1-8.2c-16.6-5.4-30.7-13.5-42.3-24.1
                           c-11.7-10.7-20.7-23.8-26.8-39.5C322.1,453.3,319,435,319,414z M483.6,387.4c0-6.6-0.9-12.9-2.6-19.1s-4.5-11.5-8.4-16.6
                           c-3.8-4.9-8.7-8.7-14.6-11.9c-5.9-3-13.2-4.5-22-4.5c-8.4,0-15.7,1.4-21.8,4.2c-6.1,2.8-11.1,6.6-15.2,11.5
                           c-4,4.9-7.1,10.5-9.4,16.8c-2.3,6.3-3.8,12.8-4.5,19.4h98.4V387.4z"></path>
                        <path class="st1" d="M682.3,364.6l50.2-77.1h65.3l-79.4,118.5c8.4,10.1,16.6,21,24.6,32.2c8,11.4,15.7,22.9,23,34.4
                           c7.3,11.5,13.9,22.6,19.9,33c5.9,10.5,11,19.9,15.2,28.3H734c-9.4-17.8-18.8-33.7-28.2-47.7c-9.4-14-18.3-26.6-26.7-37.8
                           c-10.5,14-19.9,27.6-28.2,40.9c-8.4,13.3-16.9,28.1-25.6,44.6H560c5.2-9.8,11.3-19.9,18.1-30.6c6.8-10.7,13.9-21.5,21.4-32.5
                           c7.5-11,15.3-21.9,23.5-32.9c8.2-10.8,16-21.2,23.7-30.9l-86.2-119.6h67.4L682.3,364.6z"></path>
                        <path class="st1" d="M875.7,342.1H820v-54.2h55.7V226l64.5-10.5v72.4H1043v54.2H940.2v99.7c0,9.1,0.9,16.4,2.6,22
                           c1.7,5.6,4.2,10,7.3,13.1c3.1,3.1,7,5.2,11.5,6.3c4.5,1,9.6,1.6,15.2,1.6c5.9,0,11.5-0.2,16.6-0.5c5.1-0.3,9.9-0.9,14.6-1.9
                           c4.7-0.9,9.6-2.1,14.6-3.8c5.1-1.7,10.6-4,16.6-6.8l8.9,55.6c-11.9,4.9-24.7,8.4-38.5,10.5c-13.8,2.1-27.2,3.1-40.1,3.1
                           c-15,0-28.2-1.2-39.9-3.7c-11.5-2.4-21.3-7.2-29.3-14.2c-8-7-14.1-16.8-18.3-29.5c-4.2-12.8-6.3-29.4-6.3-50.2V342.1L875.7,342.1z">
                        </path>
                        <path class="st1" d="M1175.6,492.3c0,15.4-4.7,27.1-14.1,35.1c-9.4,8-20.2,12.1-32.4,12.1c-6.3,0-12.2-1-17.8-3.1
                           c-5.6-2.1-10.6-5.1-15-9.1c-4.4-4-7.8-8.9-10.5-14.7c-2.6-5.8-3.8-12.4-3.8-20.1c0-7.3,1.4-14,3.8-19.6c2.6-5.8,6.1-10.5,10.5-14.3
                           c4.3-3.8,9.2-6.8,15-8.9c5.6-2.1,11.5-3.1,17.8-3.1c12.2,0,23,4,32.4,12.1C1170.8,466.3,1175.6,477.5,1175.6,492.3z">
                        </path>
                     </svg>
                  </span>
               </a>
               <button aria-controls="responsive-navbar-nav" type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
               <div class="navbar-collapse collapse" id="responsive-navbar-nav">
                  <div class="mr-auto navbar-nav">
                     <div class="nt-outer-dropdown dropdown nav-item"><a aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle nav-link" role="button">Solutions</a></div>
                     <div class="nt-outer-dropdown dropdown nav-item"><a aria-haspopup="true" aria-expanded="false" href="#" class="dropdown-toggle nav-link" role="button">For Students</a></div>
                     <div class="nav-item"><a href="/customers" data-rb-event-key="/customers" class="nav-link">Customers</a>
                     </div>
                     <div class="nav-item"><a href="/pricing" data-rb-event-key="/pricing" class="nav-link">Pricing</a></div>
                  </div>
                  <div class="navbar-nav">
                     <div class="nav-item"><a href="/login" data-rb-event-key="/login" class="active nav-link active">Log In</a>
                     </div>
                     <div class="nav-item"><a href="/register" data-rb-event-key="/register" class="btn btn-outline btn-blue nav__signup-btn bold ml-lg-2 mt-2 mt-lg-0 rounded-pill reset">Try for
                        Free</a>
                     </div>
                  </div>
               </div>
            </nav>


      
                {% block content %}
                {% endblock %}    


         </div>
         <footer id="footer">
           
         </footer>
         <div id="alert-container" class="flash-messages"></div>
      </div>
      <div id="application-data" data="{&quot;rails_env&quot;:&quot;production&quot;,&quot;user_signed_in&quot;:false,&quot;user_masquerade&quot;:false,&quot;hide_navigation&quot;:false,&quot;flash_messages&quot;:[],&quot;show_banner&quot;:false,&quot;landing_route&quot;:&quot;&quot;,&quot;project_theme&quot;:&quot;&quot;}">
      </div>
 
   
</body></html>